*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.wrapper{
    display: flex;
    padding:4% 5%;
    justify-content: space-between;
}

.cta h1{
    font-size:58px;
    margin-right: 80px;
    width:580px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.8;
    line-height: 1.2;
}
.cta p{
    font-size:18px;
    font-weight: 500;
    width:340px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.6; 
    margin:20px 0;
    line-height: 1.8;

}

/*
.cta-illustration{
flex:1;
}*/

.imm{
    max-width:100%;
    border-radius: 12px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .wrapper {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .imm{
        padding-top: 20px;
    }
    .cta h1{
        font-size:58px;
        margin-right: 80px;
        width:400px;
        font-family: 'Poppins', sans-serif;
        opacity: 0.8;
        line-height: 1.2;
    }
    
  }