*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;

}
.logo-container span{
font-size:36px;
font-family: 'Poppins', sans-serif;
color:#fc3903;
}
.link ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
.link ul li{
    display: inline-block;
    padding:10px;
    color:#fc3903;
    font-weight: 600;
    text-transform: capitalize;
}
.activelink{
    color:#fc3903;
    text-decoration: none;
    
}
.contactlink{
background-color:#4267B2;
color:white !important;
border-radius:5px;
padding:8px 22px !important;
}